# Server Configuration
PORT=5000

# AI Configuration
# Leave blank to use Simulated Enterprise Engine (Default)
# Add key to enable Real-time Groq LLaMA 3 Reasoning
GROQ_API_KEY=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
